<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:annotation-config/>



    <!--    <bean id="actor" class="com.stackroute.domain.Actor">-->
<!--        <property name="name" value="ramya"></property>-->
<!--        <constructor-arg name="gender" value="female"></constructor-arg>-->
<!--        <constructor-arg name="age" value="23"></constructor-arg>-->
<!--    </bean>-->


<!--    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">-->

<!--    </bean>-->


</beans>